@media (max-width: 1200px) {

    /* section advantage */

    .image-adv1 {
        background-position: 3.4% 45%;
        background-size: 17%;
    }

    .advantage-heading {
        max-width: 595px;
        padding-left: 20.7%;
    }

    .advantage-content-top {
        padding-left: 21.4%;
    }

    /* section courses */

    .article-container {
        min-height: 315px;
    }
}

@media (max-width: 992px) {

    /* section hero */

    .image-hero1 {
        background-size: 45%;
        background-position: 97.3% 34%;
    }

    /* section advantage */

    .image-adv1 {
        background-size: 21%;
        background-position: 3.4% 35%;
    }

    .advantage-heading {
        padding-left: 24.7%;
    }

    .advantage-content-top {
        padding-left: 25.4%;
    }

    .advantage-content-bottom {
        flex-direction: column;
    }

    .image-bottom {
        padding-bottom: 5%;
    }

    .content-bottom-discription {
        padding-left: 10%;
        width: 280px;
    }

    /* section teachers */

    .teachers-item {
        margin-bottom: 3%;
    }

    .image-teach1 {
        border-radius: 38px 38px 0px 0px;
        width: -webkit-fill-available;
    }

    .image-teach2 {
        border-radius: 38px 38px 0px 0px;
        width: -webkit-fill-available;
    }

    .image-teach3 {
        border-radius: 38px 38px 0px 0px;
        width: -webkit-fill-available;
    }

    .image-teach4 {
        border-radius: 38px 38px 0px 0px;
        width: -webkit-fill-available;
    }

    /* footer */

    .footer-social-network {
        padding: 3.6% 0;
    }
}

@media (max-width: 768px) {

    /* header */

    .logo {
        padding-top: 13px;
        padding-left: 27px;
    }

    .nav-item {
        padding-top: 0;
    }

    .nav-item:not(:last-child) {
        padding-right: 57px;
    }

    .nav-item:last-child {
        padding-right: 10px;
    }

    /* section hero */

    .image-hero1 {
        background-image: url(../img/hero_img2.png);
        background-size: 44%;
        background-position: 94.3% 44%;
    }

    .hero-heading {
        padding: 130px 0 16px 27px;
        font-size: 50px;
    }

    .hero-discription {
        padding-left: 27px;
    }

    .btn {
        margin: 0 0 133px 24px;
    }

    /* section advantage */

    .advantage {
        padding-bottom: 76px;
    }

    .image-adv1 {
        background-size: 28%;
        background-position: 7.4% 34%;
    }

    .advantage-heading {
        padding-left: 36.7%;
        max-width: 626px;
    }

    .advantage-content-top {
        padding-top: 2.5%;
        padding-left: 36.9%;
    }

    .image-bottom {
        padding: 4% 0% 5% 5.6%;
    }

    .content-bottom-discription {
        padding-left: 7%;
        width: 224px;
    }

    /* section teachers */

    .teachers {
        padding-bottom: 51px;
    }

    .teachers-item {
        padding-left: 3.4%;
        padding-right: 1%;
        margin-bottom: 3%;
    }

    .teachers-heading {
        padding: 10.3% 0 3% 4%;
    }

    .image-teach1 {
        border-radius: 31px 31px 0px 0px;
        height: 180px;
    }

    .image-teach2 {
        border-radius: 31px 31px 0px 0px;
        height: 180px;
    }

    .image-teach3 {
        border-radius: 31px 31px 0px 0px;
        height: 180px;
    }

    .image-teach4 {
        border-radius: 31px 31px 0px 0px;
        height: 180px;
    }

    .teachers-content {
        padding-top: 9%;
    }

    /* section courses */

    .courses {
        padding-bottom: 6.8%;
    }

    .courses-heading {
        padding: 10.1% 0 3.5% 3.8%;
    }

    .courses-item {
        padding-left: 3%;
        padding-right: 1%;
        margin-bottom: 3.7%;
    }

    .courses-time {
        top: 9px;
        right: 26px;
    }

    .article-container {
        padding: 9.3% 8% 16% 8.5%;
        min-height: 378px;
    }

    .article-title {
        padding-bottom: 2.3%;
    }

    .btn-cont {
        left: 7.5%;
    }

    .btn-courses {
        padding: 20.5px 53px;
    }

    /* footer */

    .social-link {
        padding-right: 0.7%;
        padding-left: 2.7%;
    }

    .footer-text {
        padding-top: 0.4%;
        padding-left: 2%;
    }

}

@media (max-width: 680px) {

    /* header */

    .hedaer-container {
        flex-direction: column;
    }

    /* section hero */

    .image-hero1 {
        background-image: none;
    }

    /* section advantege */

    .image-adv1 {
        background-position: 7.4% 25%;
    }

    .content-bottom-discription {
        width: 185px;
    }

    /* section courses */

    .article-container {
        min-height: 440px;
    }

}

@media (max-width: 576px) {

    /* header */

    .header {
        padding-bottom: 17px;
    }

    .logo {
        padding-top: 20px;
        padding-left: 32px;
    }

    .navbar {
        --bs-navbar-padding-y: 0.3rem;
    }

    .navbar-nav {
        margin-left: 27px;
    }

    /* hero */

    .hero-heading {
        padding: 77px 0 16px 21px;
    }

    .hero-discription {
        max-width: 388px;
        padding-left: 21px;
    }

    .btn {
        margin: 0 0 133px 20px;
    }

    /* advantage */

    .advantage {
        padding-bottom: 56px;
    }

    .image-adv1 {
        background-position: 8.4% 17%;
        background-size: 27%;
    }

    .advantage-heading {
        padding-left: 37.7%;
    }

    .advantage-content-top {
        padding-top: 3.4%;
        padding-left: 37.9%;
        max-width: 538px;
    }

    .content-top-discription {
        padding-bottom: 5.2%;
    }

    .advantage-item {
        padding-left: 2.7%;
        padding-right: 2.4%;
    }

    .image-bottom {
        padding: 4% 0% 6% 5.6%;
    }

    .content-bottom-discription {
        width: 158px;
    }

    /* teachers */

    .teachers-heading {
        padding: 13.5% 0 5% 4%;
    }

    .teachers-item {
        padding-left: 4.2%;
        margin-bottom: 4.5%;
    }

    .image-teach1 {
        border-radius: 21px 21px 0px 0px;
    }

    .image-teach2 {
        border-radius: 21px 21px 0px 0px;
    }

    .image-teach3 {
        border-radius: 21px 21px 0px 0px;
    }

    .image-teach4 {
        border-radius: 21px 21px 0px 0px;
    }

    .teachers-content {
        padding-top: 12%;
    }

    /* courses */

    .courses {
        padding-bottom: 8.3%;
    }

    .courses-heading {
        padding: 13.8% 0 4.5% 4.0%;
    }

    .courses-list {
        padding-left: 0;
    }

    .courses-item {
        padding-left: 4.3%;
        padding-right: 1.0%;
        margin-bottom: 5.7%;
    }

    .courses-img {
        border-radius: 20px 20px 0 0;
    }

    .courses-time {
        right: 20px;
    }

    .article-container {
        padding: 13% 9% 16% 11.5%;
        min-height: 414px;
    }

    .article-container2 {
        padding-left: 12.8%;
    }

    .article-container4 {
        padding-left: 12.8%;
    }

    .article-title {
        padding-bottom: 4.3%;
        line-height: 130%;
    }

    .btn-cont {
        position: relative;
        left: 50%;
        bottom: 7%;
        transform: translate(-50%, 0);
    }

    .btn-courses {
        margin-left: 12%;
        padding: 20.5px 48px;
    }

    /* footer */

    .footer-social-network {
        padding: 4.8% 0;
    }

    .social-link {
        padding-left: 3.7%;
    }

    .footer-text {
        padding-left: 3%;
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .section-title {
        font-size: 22px;
        line-height: 130%;
    }

    /* header */

    .hedaer-container {
        flex-direction: row;
    }

    .logo {
        padding-left: 0px;
    }

    .bg-light {
        --bs-bg-opacity: 1;
    }

    .nav-burger {
        position: absolute;
        left: 0;
        top: 0;
        width: 270px;
        min-width: 250px;
        height: 100vh;
        z-index: 1000;
        padding-left: 40px;
        box-shadow: 0 0 5px #888;
        background: #fff;
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-120%);
        transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .nav-burger .nav-list-burger {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav .nav-item-burger:not(:last-child) {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .nav-burger .nav-link-burger {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }

    .nav--active {
        visibility: visible;
        transform: none;
    }

    .burger--active .burger__line:nth-child(2) {
        opacity: 0;
    }

    .burger--active .burger__line:nth-child(1) {
        left: 25%;
        top: 50%;
        z-index: 1100;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger--active .burger__line:nth-child(3) {
        bottom: auto;
        left: 25%;
        top: 50%;
        z-index: 1100;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .stop-scroll {
        overflow: hidden;
    }

    .burger {
        display: block;
        position: relative;
        outline: none;
        width: 30px;
        height: 26px;
    }

    .burger__line {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 3px;
        background-color: #fff;
        transform: translateX(-50%);
    }

    .burger__line:nth-child(1) {
        top: 0;
    }

    .burger__line:nth-child(3) {
        bottom: 0;
    }

    .burger__line:nth-child(2) {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .burger::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        width: 125%;
        height: 130%;
        border: 2px solid transparent;
    }

    .burger:focus-visible::before {
        border: 2px solid var(--background-buttom-colour);
    }

    .burger:hover .burger__line {
        background-color: grey;
    }

    /* section hero */

    .hero-heading {
        padding: 77px 0 16px 0;
        max-width: 226px;
        font-size: 35px;
    }

    .hero-discription {
        padding-left: 0;
        max-width: 290px;
        font-size: 16px;
    }

    .btn {
        margin: 0 0 133px 0;
    }

    /* section advantage */

    .image-adv1 {
        background-image: none;
    }

    .advantage-heading {
        padding-left: 0;
        max-width: 361px;
    }

    .advantage-content-top {
        padding-left: 3.0%;
        max-width: 450px;
    }

    .advantage-list {
        display: flex;
    }

    .advantage-content-bottom {
        flex-direction: row;
    }

    .advantage-item {
        margin-bottom: 6%;
    }

    .image-bottom {
        padding: 0;
    }

    .image-adv2 {
        width: 80px;
        height: 80px;
    }

    .image-adv3 {
        width: 80px;
        height: 80px;
    }

    .image-adv4 {
        width: 80px;
        height: 80px;
    }

    .content-bottom-discription {
        width: 204px;
    }

    /* section teacher */

    .teachers-item {
        padding-left: 4.2%;
        margin-bottom: 14.5%;
    }

    .image-teach1 {
        border-radius: 40px 40px 0px 0px;
        height: 240px;
    }

    .image-teach2 {
        border-radius: 40px 40px 0px 0px;
        height: 240px;
    }

    .image-teach3 {
        border-radius: 40px 40px 0px 0px;
        height: 240px;
    }

    .image-teach4 {
        border-radius: 40px 40px 0px 0px;
        height: 240px;
    }

    /* section courses */

    .btn-cont {
        left: 60%;
    }
}

@media (max-width: 320px) {

    .section-title {
        padding-top: 50px;
        font-size: 20px;
    }

    /* header */

    .header {
        padding-bottom: 11px;
    }

    .logo img {
        width: 75px;
        height: 18px;
    }

    .burger {
        margin-top: 3px;
        padding-left: 22px;
        width: 14px;
        height: 18px;
    }

    .burger__line {
        width: 21px;
        height: 2px;
        border-radius: 1px;
    }

    .container {
        padding-right: calc(var(--bs-gutter-x) * .1)
    }

    /* section hero */

    .hero-heading {
        padding: 50px 0 5px 2px;
        max-width: 226px;
        font-size: 30px;
    }

    .hero-discription {
        padding-left: 2px;
        padding-bottom: 43px;
        font-size: 16px;
        line-height: 130%;
    }

    .btn {
        margin: 0 0 49px 3px;
        padding: 20.5px 53.5px;
        font-size: 16px;
        line-height: 19px;
    }

    /* section advantage */

    .advantage {
        padding-bottom: 22px;
    }

    .advantage-heading {
        padding-left: 3px;
    }

    .advantage-content-top {
        padding-left: 4.7%;
        padding-top: 1.4%;
    }

    .content-top-discription {
        padding-bottom: 8%;
    }

    .advantage-item {
        margin-bottom: 10%;
        padding-left: 1.5%;
    }

    .content-bottom-discription {
        padding-left: 11%;
    }

    /* section teachers */

    .teachers {
        padding-bottom: 27px;
    }

    .teachers-heading {
        padding: 15.1% 0 8% 1%;
    }

    .teachers-item {
        padding-left: 1.2%;
        padding-right: 0;
        margin-bottom: 6.5%;
    }

    .image-teach1 {
        border-radius: 40px 40px 0px 0px;
        height: 240px;
    }

    .image-teach1 {
        border-radius: 23px 23px 0px 0px;
        height: 179px;
    }

    .image-teach2 {
        border-radius: 23px 23px 0px 0px;
        height: 179px;
    }

    .image-teach3 {
        border-radius: 23px 23px 0px 0px;
        height: 179px;
    }

    .image-teach4 {
        border-radius: 23px 23px 0px 0px;
        height: 179px;
    }

    /* section courses */

    .courses {
        padding-bottom: 6.9%;
    }

    .courses-heading {
        padding: 14.8% 0 8.5% 1%;
    }

    .courses-item {
        padding-left: 1.2%;
        padding-right: 0;
        margin-bottom: 9.9%;
    }

    .courses-time {
        right: 11px;
    }

    .article-container {
        padding: 11% 9% 16% 10.5%;
    }

    .article-title {
        max-width: 194px;
    }

    /* footer */

    .footer-social-network {
        padding: 8.6% 0;
    }

    .social-link {
        padding-right: 1.3%;
        padding-left: 6.7%;
    }

    .footer-text {
        padding-left: 5%;
    }
}